<!DOCTYPE html>
<html lang="en">
<head>
    <style>
header {
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin-bottom   : 20px;
}

header img:first-child {
    max-width    : 100px;
    margin-right : 20px;
}

header img:last-child {
    max-width : 200px;
}
</style>
    <link rel="stylesheet" type="text/css" href="report.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteX HW CI Test Report</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
    <img src="html/litex.png" alt="LiteX">
    <img src="html/nlnet.svg" alt="Banner">
    </header>
    <div class="container">
        <h1>LiteX HW CI Test Report</h1>
        {{ summary }}
        <table>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Firmware Build</th>
                <th>Gateware Build</th>
                <th>Software Build</th>
                <th>Setup</th>
                <th>Load</th>
                <th>Test</th>
                <th>Exit</th>
            </tr>
            {% for name, results in report.items() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ results.get('Time', '-') }}</td>
                <td>{{ results.get('Duration', '-') }}</td>
                {% for step in steps %}
                    {% set status = results.get(step.capitalize(), '-') %}
                    <td class="status-{{ status }}">
                        {% if status != '-' %}
                            <a href="build_{{ name }}/{{ step }}.rpt" target="_blank">{{ status }}</a>
                        {% else %}
                            {{ status }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
